.visitor .blog-detail__thumbnail,
.visitor .profile__thumbnail {
  max-height: 500px;
  overflow: hidden;
}

.visitor .wrapper {
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}

.visitor .header-navbar .navbar-header .navbar-container,
.visitor .header-navbar .navbar-header .navbar-container .nav-item,
.visitor .header-navbar .navbar-header .navbar-brand {
  height: inherit;
}
.visitor .header-navbar .navbar-header .navbar-brand img {
  height: 100%;
}

.visitor .header-navbar .navbar-header .navbar-brand .brand-logo {
  width: 100%;
}

.visitor .banner {
  height: 500px;
  margin-bottom: 2.2rem;
}

.visitor .banner .carousel {
  height: 100%;
}

.visitor .banner .carousel-inner {
  height: 100%;
}

.visitor .banner .carousel-item {
  overflow: hidden;
  border-radius: 4px;
}

@media screen and (max-width: 425px) {
  .visitor .banner {
    height: 220px;
  }
}

.visitor .registration.registration--outwrapper {
  margin-left: -2.2rem;
  margin-right: -2.2rem;
  border-radius: 0px;
}

.visitor .registration.registration--outwrapper .card {
  border-radius: 0px;
}

.visitor .registration__thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.visitor .registration__thumbnail img {
  margin-top: -25px;
}

.visitor .registration .card {
  overflow: hidden;
  height: 250px;
}

.visitor .registration .card-title {
  padding-top: 0px;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 425px) {
  .visitor .registration .card {
    padding-top: 0px;
  }

  .visitor .registration .card-body {
    padding-top: 1rem !important;
  }
}

@media screen and (max-width: 425px) {
  .visitor .registration {
    padding-top: 0px;
  }

  .visitor .registration__thumbnail {
    display: none;
  }

  .visitor .registration__desc {
    padding: 0px 30px;
  }
}

.visitor .header-section {
  margin: 0rem 0rem 2rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visitor .header-section__title {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 22px;
}

.visitor .blog-tile__main__thumbnail {
  height: 450px;
  overflow: hidden;
}

.visitor .blog-tile__main__overlay {
  background: #4a4a4a4a;
}

@media screen and (max-width: 425px) {
  .visitor .blog-tile__main {
    height: 220px;
  }
}

.visitor .blog-detail__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visitor .blog-detail__author img {
  border: 3px solid white;
}

.visitor .blog-list {
  padding-left: 0px;
}

@media screen and (max-width: 425px) {
  .visitor .blog-list .media {
    display: block;
    margin-bottom: 15px;
    padding: 0px;
  }

  .visitor .blog-list .media .media-left {
    width: 100%;
    padding: 0px;
    max-height: 100px;
    overflow: hidden;
  }

  .visitor .blog-list .media .media-left .media-object {
    width: 100% !important;
  }
}

.visitor .blog-list .media-body__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .visitor .blog-list .media-body__meta {
    margin-bottom: 50px;
  }
}

.visitor .blog-list .media-body__meta__creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visitor .blog__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video {
  margin-bottom: 30px;
}

.video__content {
  width: 100%;
  height: 600px;
}

@media screen and (max-width: 425px) {
  .video__content {
    height: 300px;
  }
}

.testimoni {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.testimoni h3 {
  margin-bottom: 30px;
}

.testimoni .carousel {
  margin: 30px auto;
  padding: 0 70px;
}

@media screen and (max-width: 425px) {
  .testimoni .carousel {
    padding: 0px;
  }
}

.testimoni .carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}

.testimoni .carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.testimoni .carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.testimoni .carousel .testimonial {
  padding: 30px 0 10px;
  font-size: 18px;
}

.testimoni .carousel .overview {
  font-style: italic;
}

.testimoni .carousel .overview b {
  text-transform: uppercase;
  color: #7AA641;
}

.testimoni .carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

.testimoni .carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8) !important;
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.testimoni .carousel .carousel-indicators {
  bottom: -40px;
}

.testimoni .carousel-indicators li,
.testimoni .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}

.testimoni .carousel-indicators li {
  background: #999;
  border-color: transparent;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.testimoni .carousel-indicators li.active {
  background: #555;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.download {
  width: 100%;
  margin-bottom: -130px;
}

.download .card-download {
  width: 100%;
  background: #FFFFFF;
  /* Gray 5 */
  border: none;
  -webkit-box-shadow: 10px 10px 30px rgba(90, 90, 90, 0.25);
          box-shadow: 10px 10px 30px rgba(90, 90, 90, 0.25);
  border-radius: 0.35rem;
  padding: 30px;
}

.download .card-download h3 {
  font-weight: bold;
  font-size: 30px;
}

.download .card-download p {
  font-size: 18px;
}

.download .card-download .download-btn-image img {
  height: 50px;
}

.download .card-download .illu {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 425px) {
  .download .card-download {
    border-radius: 0px;
  }

  .download .card-download .download-image {
    width: 100%;
    padding-top: 50px;
  }
}

@media screen and (max-width: 425px) {
  .download .wrapper {
    margin: 0px;
  }
}

.footer-kwtix {
  display: block;
  background: #2C303B;
  color: #fff;
  padding-top: 175px;
  padding-bottom: 50px;
}

.footer-kwtix .footer {
  margin-top: 20px;
}

.footer-kwtix .footer h3 {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.footer-kwtix .footer p {
  font-size: 16px;
  color: #fff;
}

.footer-kwtix .footer h4 {
  font-size: 16px;
  color: #fff;
}

.footer-kwtix .footer a {
  font-size: 18px;
  color: #fff;
  display: block;
}

.footer-kwtix .footer a:hover {
  text-decoration: none;
}

.footer-kwtix .footer .link-social a {
  display: inline-block;
}

.footer-kwtix .footer .link-social a img {
  margin-right: 10px;
  height: 30px;
  width: auto;
}

.footer-kwtix .footer .link-download-footer a {
  display: inline-block;
  margin-right: 20px;
}

.footer-kwtix .footer .link-download-footer a img {
  margin-right: 10px;
}

.footer-kwtix .footer .link-download-footer a p {
  display: inline-block;
}

.footer-kwtix .footer .inform i {
  font-size: 28px;
}

.footer-kwtix .footer .inform p {
  margin-left: 10px;
}

@media screen and (max-width: 425px) {
  .footer-kwtix .footer {
    margin-bottom: 3rem;
    text-align: left !important;
  }
}

