.blog{
  &__media-list {
    padding-left: 0px;
    .media-body__meta{
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__creator{
        display: flex;
        align-items: center;
      }
    }
  }
  &__pagination{
    display: flex;
    justify-content: center;
  }
}
